# Ambientes Virtuais
.venv/
venv/
env/

# Arquivos temporários do Python
__pycache__/
*.pyc

# Se for compilar para .exe depois
build/
dist/
*.spec

# Credenciais do Google Drive API
credentials.json
token.json

config_pastas.json
historico_downloads.json
.env
dias_servir.json
credentialsHOUSE.json
client_secret_*.json
Fotos_Sistema/

/Teste