customtkinter==5.2.2
darkdetect==0.8.0
ImageIO==2.37.3
numpy==2.4.3
packaging==26.0
pillow==12.1.1
psutil==7.2.2
rawpy==0.26.1
google-api-python-client>=2.197.0
google-auth-httplib2>=0.4.0
google-auth-oauthlib>=1.4.0
